<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">Teams</h1>
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateTeamDialog()"
      id="new-team"
    >
      Create Team
    </button>
  </header>
  <mat-card>
    <mat-card-title>Your Teams</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list *ngIf="(yourTeams$ | async)?.length; else noTeams">
        <mat-error class="center-text" *ngIf="errors$ | async as error">{{
          error.removeTeamMember
        }}</mat-error>
        <mat-list-item *ngFor="let yourTeam of yourTeams$ | async">
          <a mat-line [routerLink]="[yourTeam.slug, 'members']">
            #{{ yourTeam.slug }}
          </a>
          <p mat-line>
            {{ yourTeam.memberCount | i18nPlural: memberCountPluralMapping }}
          </p>
          <app-loading-button
            buttonText="Leave Team"
            buttonStyle="stroked"
            [loading]="(loading$ | async)?.removeTeamMember === yourTeam.slug"
            (click)="leaveTeam(yourTeam.slug)"
            id="leave-team"
          ></app-loading-button>
        </mat-list-item>
      </mat-list>
      <ng-template #noTeams>
        <p *ngIf="(otherTeams$ | async)?.length; else noTeamsInOrg">
          You aren't part of any teams. Join a team below or press the "Create
          Team" button in the upper right.
        </p>
        <ng-template #noTeamsInOrg>
          <p>
            You don't have any teams set up. Teams determine which users have
            access to projects in your organization.
          </p>
          <p>
            To create a new team, press the "Create Team" button in the upper
            right.
          </p>
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="(otherTeams$ | async)?.length">
    <mat-card-title>Other Teams</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-error class="center-text" *ngIf="errors$ | async as error">{{
          error.addTeamMember
        }}</mat-error>
        <mat-list-item *ngFor="let otherTeam of otherTeams$ | async">
          <a mat-line [routerLink]="[otherTeam.slug, 'members']">
            #{{ otherTeam.slug }}
          </a>
          <p mat-line>
            {{ otherTeam.memberCount | i18nPlural: memberCountPluralMapping }}
          </p>
          <app-loading-button
            buttonText="Join Team"
            buttonStyle="stroked"
            [loading]="(loading$ | async)?.addTeamMember === otherTeam.slug"
            (click)="joinTeam(otherTeam.slug)"
            id="leave-team"
          ></app-loading-button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
