<div class="auth-form-wrapper">
  <mat-card class="auth-form">
    <h1>Reset Password</h1>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="server-error">
          <p *ngIf="sendResetEmailSuccess$ | async as success" class="success">
            {{ success }}
          </p>
          <mat-error *ngIf="sendResetEmailError$ | async as error">{{
            error
          }}</mat-error>
        </div>
        <mat-form-field class="full-width">
          <input
            [readonly]="(sendResetEmailSuccess$ | async) !== ''"
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="email?.errors">
            <span *ngIf="email?.errors?.required || email?.errors?.email">
              Enter a valid email address
            </span>
            <span *ngIf="email?.errors?.serverError">
              {{ email?.errors?.serverError }}
            </span>
          </mat-error>
        </mat-form-field>
        <app-loading-button
          class="full-width"
          buttonText="Send Reset Password Email"
          [fullWidth]="true"
          [loading]="(sendResetEmailLoading$ | async) === true"
          [disabled]="(sendResetEmailSuccess$ | async) !== ''"
          id="submit"
        >
        </app-loading-button>
        <button
          *ngIf="(sendResetEmailSuccess$ | async) !== ''"
          (click)="reset()"
          mat-stroked-button
          color="primary"
          class="reset full-width"
          type="button"
          id="reset"
        >
          Reset
        </button>
      </form>
      <div class="sign-up">
        <p class="mat-body-1">
          <a routerLink="/login">Log in</a>
        </p>
        <p class="mat-body-1">
          <a routerLink="/register">Register</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
