mat-card {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0;
  padding-top: 18px;
  font-size: 1.2em;
  font-weight: 500;
}

.loading {
  height: 180px;
}

.mat-body-1 {
  padding: 15px 0 0;
}

mat-list {
  margin-left: -15px;
  margin-right: -15px;
}

mat-list-item ::ng-deep .mat-list-item-content {
  display: flex;
  justify-content: space-between;
}

app-loading-button ::ng-deep button {
  width: 100px;
}
