@import "variables";

mat-card {
  margin-bottom: 36px;
  margin-top: 36px;

  mat-card-content {
    padding-top: 16px;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet - 1) {
      flex-direction: column;
      align-items: flex-start;
    }

    mat-form-field {
      width: 100%;
      margin-right: 48px;
    }
  }
}

.remove-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet - 1) {
    flex-direction: column;
    align-items: flex-start;
  }

  p {
    padding-right: 16px;
  }
}

app-loading-button ::ng-deep button {
  width: 160px;
}
