<div class="auth-form-wrapper">
  <mat-card class="auth-form">
    <h1>Login</h1>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="server-error">
          <mat-error *ngIf="error">{{ error }}</mat-error>
        </div>
        <mat-form-field class="full-width">
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="email?.errors">
            <span *ngIf="email?.errors?.required"
              >Your email is required to log in</span
            >
            <span *ngIf="email?.errors?.email"
              >Enter a valid email address</span
            >
            <span *ngIf="email?.errors?.serverError">{{
              email?.errors?.serverError
            }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="password?.errors">
            <span *ngIf="password?.errors?.minlength"
              >Your password should be at least 8 characters long</span
            >
            <span *ngIf="password?.errors?.required"
              >Your password is required to log in</span
            >
          </mat-error>
        </mat-form-field>
        <button id="submit" class="full-width" mat-flat-button color="primary">
          Log in
        </button>
      </form>
      <ng-container *ngIf="socialApps$ | async as socialApps">
        <div *ngIf="socialApps.length" class="or">
          <span class="mat-body-strong mat-body-2">or</span>
        </div>
        <div class="o-auth">
          <button
            *ngFor="let socialApp of socialApps"
            mat-stroked-button
            class="full-width margin"
            (click)="onSocialApp(socialApp)"
          >
            <app-auth-svg
              source="auth"
              text="Log in with {{ socialApp.name }}"
              [provider]="socialApp.provider"
            ></app-auth-svg>
          </button>
        </div>
      </ng-container>
      <div class="sign-up">
        <p *ngIf="enableUserRegistration$ | async" class="mat-body-1">
          New to GlitchTip? <a routerLink="../register">Sign Up</a>
        </p>
        <p class="mat-body-1">
          <a routerLink="/reset-password">Reset Password</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
