<section class="l-body">
  <mat-card
    *ngIf="
      (projects$ | async)?.length === 0 &&
      (activeOrganizationDetail$ | async) === undefined
    "
  >
    <mat-card-content>
      <p class="mat-body-1">
        In order to use GlitchTip, you'll need to create an organization.
      </p>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/organizations', 'new']"
      >
        Create New Organization
      </a>
    </mat-card-content>
  </mat-card>

  <ng-container *ngFor="let organization of orgsAndProjects$ | async">
    <section
      class="org-projects-section"
      *ngIf="
        !activeOrgOnly ||
        (activeOrgOnly &&
          organization.id === (activeOrganizationDetail$ | async)?.id)
      "
    >
      <header class="page-header">
        <h2 class="mat-display-1">
          {{ activeOrgOnly ? "Projects" : organization.name }}
        </h2>
        <a
          mat-stroked-button
          color="primary"
          [routerLink]="['/', organization.slug, 'settings', 'projects', 'new']"
        >
          Create New Project in {{ organization.name }}
        </a>
      </header>
      <app-empty-projects
        *ngIf="organization.projects.length === 0"
        [activeOrgOnly]="activeOrgOnly"
      ></app-empty-projects>

      <div>
        <div class="card-wrapper">
          <ng-container *ngFor="let project of organization.projects">
            <app-project-card
              [cardLink]="['/', project.organization.slug, 'issues']"
              [cardLinkQueryParams]="{ project: project.id }"
              [title]="project.name"
              [descriptionList]="[
                { key: 'organization', value: project.organization.name },
                { key: 'date created', value: (project.dateCreated | date)! }
              ]"
              [isMember]="project.isMember"
              [primaryButton]="{
                text: 'Issues',
                icon: 'warning',
                query: { project: project.id },
                link: [project.organization.slug, 'issues']
              }"
              [secondaryButton]="{
                text: 'Settings',
                icon: 'settings',
                link: [
                  '/',
                  project.organization.slug,
                  'settings',
                  'projects',
                  project.slug
                ]
              }"
            ></app-project-card>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
</section>
