<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">Organization Members</h1>
    <a mat-flat-button color="primary" [routerLink]="['new']">Invite Member</a>
  </header>
  <mat-card>
    <mat-card-title>
      {{ (activeOrganizationDetail$ | async)?.name }}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="list">
        <div class="list--item" *ngFor="let member of members$ | async">
          <a class="email" mat-line [routerLink]="[member.id]">{{
            member.email
          }}</a>

          <div *ngIf="member.pending" class="invite-status">
            <p class="pending">Pending</p>
            <app-loading-button
              *ngIf="!member.loadingResendInvite && !member.sentResendInvite"
              class="resend-invite"
              [loading]="member.loadingResendInvite"
              buttonText="Resend Invite"
              (click)="resendInvite(member.id)"
            >
            </app-loading-button>
            <span *ngIf="member.sentResendInvite">Invite Sent</span>
          </div>

          <div class="role">{{ member.roleName }}</div>

          <app-loading-button
            class="remove-button"
            (click)="removeMember(member)"
            [buttonText]="member.isMe ? 'Leave' : 'Remove'"
            buttonStyle="stroked"
          ></app-loading-button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
