<mat-card>
  <mat-card-header class="flex-common">
    <mat-card-title>Project Alerts</mat-card-title>
    <button
      mat-flat-button
      color="primary"
      (click)="openNewAlert()"
      [disabled]="(newAlertOpen$ | async) === true"
    >
      Create New Alert
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    <ng-container *ngIf="(initialLoad$ | async) === true">
      <!-- New Alert -->
      <div *ngIf="(newAlertOpen$ | async) === true" class="new-alert">
        <div class="alert-header">
          <h3>New Alert</h3>
        </div>
        <p
          *ngIf="newAlertError$ | async as error"
          class="error new-alert-error"
        >
          {{ error }}
        </p>
        <app-alert-form
          #newAlert
          [newAlert]="true"
          (alertSubmit)="newAlertTimespanQuantity($event)"
        ></app-alert-form>
        <h4 class="mat-body-strong">Recipients:</h4>
        <p
          *ngIf="(newProjectAlertRecipients$ | async)?.length === 0"
          class="no-recipients no-recipients-new"
        >
          This alert isn't being sent anywhere. Select "Add An Alert Recipient"
          below to get started.
        </p>
        <ul>
          <li
            *ngFor="
              let recipient of newProjectAlertRecipients$ | async;
              let recipientIndex = index
            "
          >
            <div class="recipients" [class.border-top]="recipientIndex === 0">
              <div class="flex-common">
                <div class="flex-common">
                  <span
                    *ngIf="recipient.recipientType === 'email'"
                    class="flex-common"
                    ><mat-icon class="alert-type">email</mat-icon>
                    Send an email to team members on this project.
                  </span>
                  <span
                    *ngIf="recipient.recipientType === 'webhook'"
                    class="flex-common"
                    ><svg class="slack">
                      <use xlink:href="#webhook"></use>
                    </svg>
                    {{ recipient.url }}
                  </span>
                </div>
                <button
                  class="trash"
                  mat-icon-button
                  color="primary"
                  attr.aria-label="Delete Alert For {{ recipient.url }}"
                  (click)="removeNewAlertRecipient(recipient.url)"
                >
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <button
          mat-stroked-button
          color="primary"
          (click)="openCreateRecipientDialog()"
        >
          <mat-icon>add</mat-icon>
          Add An Alert Recipient
        </button>
        <div class="new-alert-actions">
          <app-loading-button
            buttonText="submit"
            [loading]="(newAlertLoading$ | async) === true"
            (click)="submitCreateAlert()"
            >Submit</app-loading-button
          >
          <button (click)="closeNewAlert()" mat-stroked-button>Cancel</button>
        </div>
      </div>
      <ng-container
        *ngIf="
          (projectAlerts$ | async)?.length === 0 &&
            (newAlertOpen$ | async) === false;
          else showAlerts
        "
        ><p class="no-alerts">
          You don't have any alerts set up. Click "Create New Alert" on the top
          right of this card to get started.
        </p></ng-container
      ><ng-template #showAlerts>
        <div
          *ngFor="let alert of projectAlerts$ | async; let i = index"
          class="alert"
        >
          <mat-divider *ngIf="i !== 0"></mat-divider>

          <p
            *ngIf="(removeAlertError$ | async)?.pk === alert.pk"
            class="error alert-error"
          >
            {{ (removeAlertError$ | async)?.error }}
          </p>
          <div class="flex-common alert-header">
            <h3>Alert {{ i + 1 }}</h3>
            <app-loading-button
              [buttonText]="'Remove Alert ' + (i + 1)"
              buttonStyle="stroked"
              (click)="removeAlert(alert.pk)"
              [loading]="(removeAlertLoading$ | async) === alert.pk"
            >
            </app-loading-button>
          </div>
          <p
            *ngIf="(updateTimespanQuantityError$ | async)?.pk === alert.pk"
            class="error alert-form-error"
          >
            {{ (updateTimespanQuantityError$ | async)?.error }}
          </p>
          <app-alert-form
            [newAlert]="false"
            [loading]="(updateTimespanQuantityLoading$ | async) === alert.pk"
            [timespan]="alert.timespan_minutes"
            [quantity]="alert.quantity"
            (alertSubmit)="updateTimespanQuantity($event, alert)"
          ></app-alert-form>
          <h4 class="mat-body-strong">Recipients:</h4>
          <p
            *ngIf="recipientError$ | async as error"
            class="error recipients-error"
          >
            {{ error }}
          </p>
          <p *ngIf="alert.alertRecipients.length === 0" class="no-recipients">
            This alert isn't being sent anywhere. Select "Add An Alert
            Recipient" below to get started.
          </p>
          <ul>
            <li
              *ngFor="
                let recipient of alert.alertRecipients;
                let recipientIndex = index
              "
            >
              <div class="recipients" [class.border-top]="recipientIndex === 0">
                <div class="flex-common">
                  <div class="flex-common">
                    <span
                      *ngIf="recipient.recipientType === 'email'"
                      class="flex-common"
                      ><mat-icon class="alert-type">email</mat-icon>
                      Send an email to team members on this project.
                    </span>
                    <span
                      *ngIf="recipient.recipientType === 'webhook'"
                      class="flex-common"
                      ><svg class="slack">
                        <use xlink:href="#webhook"></use>
                      </svg>
                      {{ recipient.url }}
                    </span>
                  </div>
                  <ng-container
                    *ngIf="
                      (deleteRecipientLoading$ | async) === recipient.pk;
                      else notLoading
                    "
                  >
                    <mat-progress-spinner
                      [diameter]="20"
                      color="primary"
                      mode="indeterminate"
                    ></mat-progress-spinner></ng-container
                  ><ng-template #notLoading>
                    <button
                      class="trash"
                      mat-icon-button
                      color="primary"
                      attr.aria-label="Delete Alert {{ i + 0 }}"
                      (click)="removeAlertRecipient(recipient, alert)"
                    >
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </ng-template>
                </div>
              </div>
            </li>
          </ul>
          <button
            mat-stroked-button
            color="primary"
            (click)="openUpdateRecipientDialog(alert)"
          >
            <mat-icon>add</mat-icon>
            Add An Alert Recipient
          </button>
        </div></ng-template
      ></ng-container
    ><ng-container *ngIf="(initialLoad$ | async) === false">
      <div class="initial-loading">
        <mat-progress-spinner
          [diameter]="40"
          color="primary"
          mode="indeterminate"
        ></mat-progress-spinner></div
    ></ng-container>
    <ng-container *ngIf="initialLoadError$ | async as error">
      <div class="error initial-load-error">
        {{ error }}
      </div></ng-container
    >
  </mat-card-content>
</mat-card>
