<mat-card>
  <mat-card-title>Email Addresses</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let email of emailAddresses$ | async">
        <div class="email-info">
          <span>{{ email.email }}</span>
          <mat-chip-list
            *ngIf="email.isPrimary || !email.isVerified"
            [selectable]="false"
          >
            <mat-chip color="primary" selected *ngIf="email.isPrimary">
              Primary
            </mat-chip>
            <mat-chip color="primary" *ngIf="!email.isVerified">
              Unverified
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="email-actions">
          <app-loading-button
            *ngIf="!email.isVerified"
            buttonText="Resend confirmation"
            [loading]="
              (loadingStates$ | async)?.resendConfirmation === email.email
            "
            (click)="resendConfirmation(email.email)"
            buttonStyle="stroked"
          ></app-loading-button>
          <app-loading-button
            *ngIf="!email.isPrimary && email.isVerified"
            buttonText="Make primary"
            [loading]="(loadingStates$ | async)?.makePrimary === email.email"
            (click)="makePrimary(email.email)"
            buttonStyle="stroked"
          ></app-loading-button>
          <div
            *ngIf="(loadingStates$ | async)?.delete === email.email"
            class="delete-spinner-container"
          >
            <mat-progress-spinner
              [diameter]="24"
              color="primary"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
          <button
            class="delete-button"
            *ngIf="
              !email.isPrimary &&
              (loadingStates$ | async)?.delete !== email.email
            "
            mat-icon-button
            aria-label="Remove email address"
            (click)="deleteEmail(email.email)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      id="add-email-form"
      class="add-email-form"
    >
      <div class="add-email-form-ui">
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Email Address"
            formControlName="email_address"
            [errorStateMatcher]="matcher"
          />
          <mat-error>
            <span
              *ngIf="
                email_address?.errors?.required || email_address?.errors?.email
              "
            >
              Please enter a valid email address.
            </span>
            <span *ngIf="email_address?.errors?.matchesExistingValidator">
              This email address is already on the list.
            </span>
            <span *ngIf="email_address?.errors?.serverError">
              {{ email_address?.errors?.serverError }}
            </span>
          </mat-error>
        </mat-form-field>
        <app-loading-button
          buttonText="Add Email Address"
          [loading]="(loadingStates$ | async)?.add"
        ></app-loading-button>
      </div>
      <mat-error class="server-error" *ngIf="(addEmailError$ | async) !== ''">
        {{ addEmailError$ | async }}
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>
